<h2>Search Results</h2>
<%= @results.search_url %>
<br>
<%= render TomeStats.SearchView, "_search_form.html", conn: @conn, categories: @categories %>

<table class='table'>
  <tr>
    <th>ID</th>
    <th>User</th>
    <th>Character</th>
  </tr>

</table>
