<h2>Show search key</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @search_key.name %>
  </li>

  <li>
    <strong>Category:</strong>
    <%= @search_key.category %>
  </li>

</ul>

<%= link "Edit", to: search_key_path(@conn, :edit, @search_key) %>
<%= link "Back", to: search_key_path(@conn, :index) %>
