<h2>Edit search key value</h2>

<%= render "form.html", changeset: @changeset,
                        action: search_key_value_path(@conn, :update, @search_key_value) %>

<%= link "Back", to: search_key_value_path(@conn, :index) %>
