<div class="jumbotron">
<%= form_for @conn, search_path(@conn, :create), [as: :search], fn f -> %>
  <%= text_input f, :for %>
  <%= submit "Search" %>
<% end %>
</div>

<div class="row marketing">
  <div class="col-lg-6">

  </div>

  <div class="col-lg-6">

  </div>
</div>
